<!DOCTYPE html>
<html ng-app="app">
  <head>
  <title>TimeSpan</title>
  <meta charset="UTF-8">
  <style>
     .show{
	  background: #FFFFCC;
	 
  }
  	.timespan{
	  border: thick #00FF00 solid;
	  display: inline-block;
  }

  </style>
    <script data-require="jquery@1.10.1" data-semver="1.10.1" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body ng-controller="ctrl">
  <h3>&nbsp;Viděli jste někde na webu časový úsek? </h3>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ve slovníku nalezneme
  <a href="https://www.merriam-webster.com/dictionary/time%20span" target="detail">tuto 
  definici...</a></h3>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  Příkladem je třeba
  <a href="http://www.businessdictionary.com/definition/warranty-period.html">
  záruční lhůta</a>. </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  Ale je spousta dalších. třeba &quot;až se to začně vařit. 10 minut míchejte&quot; </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  nebo vyčkejte 20 minut po setmění a pak jednejte atd.</p>
  <p>&nbsp;</p>
  <p>&quot;Česky&quot; tomu můžeme říkat časový interval. My většinou vnímáme čas jako 
  něco samostatného - ve skutečnosti je náš běžný čas také intervalem - <strong>
  <em>třeba</em></strong> od narození Krista do daného okamžiku... Takže to, 
  čemu říkáme časový interval(=timespan), je ve skutečnosti stejně jen rozdíl 
  časových intervalů.</p>
  <p>&nbsp;</p>
  <p>Jak už bylo uvedeno v úvodu, v praktickém životě je takových intervalů 
  hafo. Například v roce 2013 jsem dělal na apce, kde jich bylo desítky.</p>
  <p>To už si chcete věci zjednodušit - takže kolik takových (reusable) 
  komponent na nastavení časového intervalu<em> (=nezaměňovat , prosím, s časem, 
  s kalendářem - to uiž jsme si přece před chvílí vysvětlili)&nbsp; </em>jste 
  někde po webech viděli???</p>
  <p>Tady je přes 5 let stará:&nbsp;&nbsp;</p>
  
  
<h3>final version, updated 2014-05-07 15:49</h3>
    <p>Hello {{helloMessage}}! <a href="http://msdn.microsoft.com/en-US/us-us/library/ee372286(v=vs.110).aspx"> TimeSpan docs</a></p> <br />
    
    
    	
    
    <table style="width: 100%">
		<tr>
			<td>&nbsp;</td>
			<td class="show">  
    
    	
    
    <time-span class="timespan" value=timeSpan to-null-message="click to forever"  to-not-null-message="click to set finite value" null-message="forever" ></time-span>  <!--  <<< timeSpan is here -->
      
    <p> result string value :&nbsp;&nbsp; "{{timeSpan}}" <input type=text ng-model=timeSpan style="width: 80px;text-align: center;" />
    <br /><br /><br />write new value: <input type=text ng-model=timeSpanUpdate style="width: 80px;text-align: center;" />
                           <button ng-click="(timeSpan=timeSpanUpdate)">set new value</button>
                           
                </td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
  </table>


           
    <br /><br /><p><a target='newWindow' href="https://www.flickr.com/photos/115652928@N03/13519931515/"> schema </a></p>
  <script>document.write("<a target='newWindow2' href='" + document.location + "' /></a> ")</script>
  
  </body>
</html>
